<html>

<head>
  <title>Novel - {{ .Name }} - {{ .Book.Title }}</title>
  <style>
  </style>
</head>

<body>
  <h1>{{ .Name }}</h1>
  <div>
      <p>{{ .Book.Title }} - {{ .Book.Writer.Name }}</p>
      <p>{{ .Book.UpdateDate }}</p>
      <p>{{ .Book.UpdateChapter }}</p>
      {{ if .Book.IsDownloaded }}
      <a href="{{.UriPrefix}}/sites/{{.Name}}/books/{{.Book.ID}}-{{.Book.HashCode}}/download">Downloaded</a>
      {{ else }}
      <p>{{ .Book.Status }}</p>
      {{ end }}
  </div>
  <h2>Book Group</h2>
  {{ $uriPrefix := .UriPrefix }}
  {{ $siteName := .Name }}
  {{ range $index, $value := .Group }}
    {{ template "book-card" (arr $uriPrefix $siteName $value) }}
  {{ end}}
</body>

</html>
