{{ define "book-card" }}
  {{ $uriPrefix := index . 0 }}
  {{ $book := index . 1}}
  <div class="book-box" onclick="location.href='{{$uriPrefix}}/sites/{{$book.Site}}/books/{{$book.ID}}-{{$book.HashCode}}/'">
    <p class="inline">{{ $book.Title }} - {{ $book.Writer.Name }}</p>
    <div class="tag">
      {{ $book.Site }}
    </div>
    <p>{{ $book.UpdateDate }}</p>
    <p>{{ $book.UpdateChapter }}</p>
    <p>{{ if $book.IsDownloaded }}Downloaded{{ else }}{{ $book.Status }}{{ end }}</p>
  </div>
{{ end}}
