{{ define "book-card" }}
  {{ $uriPrefix := index . 0 }}
  {{ $book := index . 1}}
  <div class="book-box" onclick="location.href='{{$uriPrefix}}/sites/{{$book.Site}}/books/{{$book.ID}}-{{$book.HashCode}}/'">
    <p class="inline">{{ $book.Title }} - {{ $book.Writer.Name }}</p>
    <div class="tag">{{ $book.Site }}</div>
    {{ if $book.IsDownloaded }}<div class="tag" style="background-color: #00ff00;">Downloaded</div>{{ else }}<p>{{ $book.Status }}</p>{{ end }}
    <p>{{ $book.UpdateDate }}</p>
    <p>{{ $book.UpdateChapter }}</p>
  </div>
{{ end}}
