<html>

<head>
  <title>Novel - {{ .Book.Site }} - {{ .Book.Title }}</title>
  {{ template "book-box-style" }}
</head>

<body>
  <h1>{{ .Book.Site }}</h1>
  <div>
      <p class="inline">{{ .Book.Title }} - {{ .Book.Writer.Name }}</p>
      {{ if .Book.IsDownloaded }}<div class="tag" style="background-color: #00ff00;">Downloaded</div>{{ else }}<p>{{ .Book.Status }}</p>{{ end }}
      <p>{{ .Book.UpdateDate }}</p>
      <p>{{ .Book.UpdateChapter }}</p>
      {{ if .Book.IsDownloaded }}
      <a href="{{.UriPrefix}}/sites/{{.Book.Site}}/books/{{.Book.ID}}-{{.Book.HashCode}}/download?format=txt">Download TXT</a>
      <a href="{{.UriPrefix}}/sites/{{.Book.Site}}/books/{{.Book.ID}}-{{.Book.HashCode}}/download?format=epub">Download EPUB</a>
      {{ end }}
  </div>
  <h2>Book Group</h2>
  {{ $uriPrefix := .UriPrefix }}
  {{ range $index, $value := .Group }}
    {{ template "book-card" (arr $uriPrefix $value) }}
  {{ end}}
</body>

</html>
