<html>

<head>
  <title>Novel - {{ .Name }}</title>
  <style>
  </style>
</head>

<body>
  <h1>{{ .Name }}</h1>
  <div>
    <p>Book Count: {{ .Summary.BookCount }}</p>
    <p>Writer Count: {{ .Summary.WriterCount }}</p>
    <p>Unique Book Count: {{ .Summary.UniqueBookCount }}</p>
    <p>Max Book ID: {{ .Summary.MaxBookID }}</p>
    <p>Latest Success Book ID: {{ .Summary.LatestSuccessID }}</p>
    {{ range $key, $value := .Summary.StatusCount }}
    <p>Status {{ $key }}: {{ $value }}</p>
    {{ end }}
    <p>DownloadCount: {{ .Summary.DownloadCount }}</p>
  </div>
</body>

</html>
